<!DOCTYPE html>
<html>
<head>
  <title>
    Student Classroom Beneath
  </title>
  <!--Layout dependencies-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/inlayout.css">
    <!--Literallycanvas dependencies-->
    <link rel = "stylesheet" href = "scripts/bootstrap/dist/css/bootstrap.min.css"/>
		<!-- dependency: React.js -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<script src="scripts/literallycanvas/js/literallycanvas.js"></script>
		<link href="scripts/literallycanvas/css/literallycanvas.css" rel="stylesheet">
</head>

<script>
  var userData = {id: 0, firstName: "NULL"};
  
  userData.id = "<%= user.userid %>";
  userData.firstName = "<%= user.firstName %>";
</script>

<body onload="loadName(userData);">
  <div class="image"> 
  <br>
  <div class="container-fluid">
    <div class="row" style="text-align: center;">
      <div class="col-sm-8" id="localCanvas">
      </div>
      
      <video class="col-sm-3" id="localVideo" autoplay>
        
      </video>
      
    
    </div>
    
    <br>
    <button type="button" id="leaveClassRoom" class="btn btn-danger center-block">Leave Classroom</button>
    <div id="teacherName" class="btn btn-danger center-block">
        <div id="name">
        </div>
      </div>
  </div>


  </div>

  <script>
		LC.init(
			document.getElementById('localCanvas'),
			{imageURLPrefix: 'scripts/literallycanvas/img'}
		);
	</script>
	<script src = "js/index.js"></script>
</body>
</html>