body, html {
    height: 100%;
}
.image
{
	/*background-image: linear-gradient(rgba(255,255,255,.65), rgba(255,255,255,.65)), url("../images/strips.jpeg");
  */
   
    height: 100vh;
    width: 100vw; 

    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
}
#localCanvas{
  background-color: white;
  height:85vh;
  border-style: solid;
  border-width: 0.5px;
  border-color: #CD5C5C;
  border-radius: 4px;
  margin-left: 2vw;
  margin-right: 2vw;
}

#localVideo{
  background-color: white;
  height:30vh;
  border-style: solid;
  border-width: 1px;
  border-color: #CD5C5C;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
  border-radius: 4px;

}

#chatArea{
  background-color: white;
  height:60vh;
  border-style: solid;
  border-width: 1px;
  border-color: #CD5C5C;
  border-radius: 4px;
  margin-left: 2vw;
  margin-right: 2vw;
}

#VideoDivBelow{
  height:30vh;
  border-style: solid;
  border-width: 1px;
  border-color: #CD5C5C;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 4px;
}

#VideoDivSide{
  height:30vh;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 8px;
  margin-left: 2vw;
  margin-right: 5vw;
}

#chatAreaAdj{
  height:60vh;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 8px;
  margin-left: 5vw;

}


#WhiteboardArea{
  height:85vh;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 8px;
}

#VideoDivTeach{
  height:30vh;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 8px;
  margin-left: 1.5vw;
  margin-right: 3vw;
}

#chatAreaTeach{
  height:60vh;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 8px;
  margin-left: 3vw;

}

#WhiteboardAreaTeach{
  height:85vh;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 8px;
}